<div class="container">
    <h4 class="title">Anotações <a class="title-action" title="adicionar análise" (click)="add()"><i class="fa fa-plus-circle"></i></a></h4>
    <ul class="list">
      <li *ngFor="let entry of list() | keyvalue; let idxEntry = index" class="list-item" [ngClass]="{'selected expanded': isExpanded(idxEntry)}">
        <header class="title link" (click)="expandListItem(idxEntry)">
          <i *ngIf="!isExpanded(idxEntry)" class="fa fa-folder margin-right-2"></i>
          <i *ngIf="isExpanded(idxEntry)" class="fa fa-folder-open margin-right-2"></i>
          <span>{{entry.key}}</span><span class="title-detail circle">{{entry.value.length}}</span>
        </header>
        <div class="list-item-block">
          <table class="table">
            <thead>
              <tr>
                <th class="left g-6">Anotação</th>
                <th class="center">Criado em</th>
                <th class="center">Atualizado em</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let analise of entry.value; let idxAnalise = index">
                <td title="Anotação">{{analise.anotacao}}</td>
                <td title="Criado em" class="center">{{analise.dataCriacao | date: 'dd/MM/yyyy'}}</td>
                <td title="Atualizado em" class="center">{{analise.dataAtualizacao | date: 'dd/MM/yyyy'}}</td>
                <td class="table-action right">
                  <a title="editar análise" class="link" (click)="edit(analise)"><i class="fa fa-pencil"></i></a>
                  <a title="remover análise" class="margin-left-3 link" (click)="delete(analise)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
</div>
<form #analiseForm="ngForm" *ngIf="selectedAnalise" (ngSubmit)="save()" class="modal-wrapper">
    <div class="modal">
        <header class="modal-title">
            <h4>{{(selectedAnalise.id == null ? 'Nova Análise': selectedAnalise.acao.codigo + ' - ' + (selectedAnalise.dataAtualizacao | date: 'dd/MM/yyyy'))}}</h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <div class="form-control g-12">
                    <select id="acao" name="acao" [compareWith]="comparator" [(ngModel)]="selectedAnalise.acao" required>
                        <option *ngFor="let acao of acoes" [ngValue]="acao">{{acao.codigo}}</option>
                    </select>
                    <label for="acao">Ação</label>
                </div>
                <div class="form-control g-12">
                    <textarea id="anotacao" name="nome" [(ngModel)]="selectedAnalise.anotacao" rows="10" required></textarea>
                    <label for="nomeAcao">Nome</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!analiseForm.valid">salvar</button>
        </footer>
    </div>
</form>
