/*
================================================================================
Form component styles
.btn .btn-primary .btn-flat
================================================================================
*/

.btn {

    @keyframes click-effect {
      50% {
        transform: scale(1.5, 1.5);
        opacity: 0;
      }
      99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
      }
      100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
      }
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    height: calc(30px + #{$form-control-padding/2});
    padding: $form-control-padding/2 $form-control-padding;
    position: relative;
    color: $btn-color;
    background-color: $btn-background;
    border: $form-control-border;
    border-radius: $form-control-border-radius;

    transition: all 0.4s ease-in;

    &:before {
      content: ' ';
      display: block;
      background-color: $primary-color;
      box-shadow: 0 0 8px 8px $primary-color;
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: scale(0.001, 0.001);
    }

    &:focus {
      color: darken($btn-background, 50%);
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: darken($btn-background, 20%);
      transition: all .1s ease-out;
      outline: 0;
      &:before {
        animation: click-effect 0.8s ease-out;
      }
    }



    @include disabled-status;

    /* btn btn-primary =======================================================*/
    &-primary {
        color: $btn-color-primary;
        background-color: $btn-background-primary;
        transition: all .1s ease-in;

        &:active {
            background-color: darken($btn-background-primary, 10%);
            transition: all .1s ease-out;
        }
    }

    /* btn btn-flat ==========================================================*/
    &-flat {
      padding: initial;
      height: initial;
      color: $form-control-color;
      background: none;
      border: none;

      &:active {
          background-color: $btn-color-primary;
      }

      &:focus {
        outline: none;
      }
    }
}

/*
================================================================================
.option-button
================================================================================
*/

.option-button {
  $arrowSize: 8px;
  position: relative;

  &-control {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: $form-control-color;
    background: none;
    padding: initial;
    height: initial;
    border: none;
    cursor: pointer;

    input[type="checkbox"] {
      display: none;
    }

    & > * + * {
       margin: 0 $margin/2;
    }

    &:active, &.active {
      color: darken($form-control-color, 100%);
      background-color: $btn-color-primary;
    }

    &:focus {
      outline: none;
    }
  }

  &-control.active + &-wrapper {
    display: initial;
  }

  &-wrapper {
    position: absolute;
    top: 100%;
    left: -#{$arrowSize};
    margin: #{$margin} 0 0 0;
    display: none;

    &::before, &::after {
      position: absolute;
      left: #{$arrowSize};
      content: ' ';
      display: block;
      border: #{$arrowSize} solid transparent;
    }

    &::before {
      top: #{$arrowSize * -2};
      border-bottom: #{$arrowSize} solid $form-control-border-color;
    }
    &::after {
      top: #{($arrowSize - 1) * -2};
      border-bottom: #{$arrowSize} solid $list-background-color;
    }    
  }

  &-list {
    list-style-type: none;
    background-color: $list-background-color;
    padding: #{$margin / 2};
    margin: 0;
    overflow-y: auto;
    box-shadow: 0 0 10px $shadow-color;
    border: $form-control-border;

    max-height: 64vh;
    
    @media screen and (min-width: #{$small-device}) {
      max-height: 48vh;
    }

    @media screen and (min-width: #{$medium-device}) {
      max-height: 32vh;
    }    

    @media screen and (min-width: #{$large-device}) {
      max-height: 16vh;
    }    
  }

  &-item {
    padding: inherit;
    margin-left: 0;
  }
}
