/*
================================================================================
Form component styles
==============================================================================
*/
.form {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: $margin -#{$margin};

  &--inline {
    @extend .form;
    flex-wrap: nowrap;
  }

  &-control {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $form-control-border-radius;
    margin: $margin;


    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    textarea,
    select {
        border-width: 0 0 1px 0;
        border-color: $form-control-border-color;
        background-color: $form-control-background;
        height: $form-control-height;
        min-height: $form-control-height;
        z-index: 1;
        color: transparent;

        @include disabled-status;

        &:required:valid, &:focus {
            color: initial;
            outline: none;
            border-color: darken($form-control-border-color, 20%);
            & ~ label {
                font-size: 0.8em;
                transform: translateY(-175%);
                transition: all .1s linear;
            }
        }

        // angular invalid field
        &.ng-touched.ng-dirty:invalid {
          border-color: $form-color-invalid;
        }


        & ~ label {
         cursor: text;
         font-size: 1em;
         height: $form-control-height;
         margin-left: $margin/2;
         color: $form-control-color;
         transform: translateY(-75%);
         transition: all .1s linear;
         z-index: 0;
        }
     }

     textarea {
         height: initial;
         resize: vertical;

         & ~ label {
            position: absolute;
            top: $form-control-height;
         }
     }
  }
}
