/*
================================================================================
Form component styles
==============================================================================
*/
.form {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: $margin -#{$margin};

  &--inline {
    @extend .form;
    flex-wrap: nowrap;
  }

  @at-root
  &-control {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $form-control-border-radius;
    margin: $margin;

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    textarea,
    select {
        flex: 1 0 auto;
        border-width: 0 0 1px 0;
        border-color: $form-control-border-color;
        background-color: $form-control-background;
        height: $form-control-height;
        min-height: $form-control-height;
        z-index: 1;
        color: transparent;

        @include disabled-status;

        &:valid, &:focus {
            color: initial;
            outline: none;
            border-color: darken($form-control-border-color, 20%);
            & ~ label {
                cursor: default;
                font-size: 0.8rem;
                transform: translateY(-175%);
                transition: all .1s linear;
            }
        }

        // angular invalid field
        &.ng-touched.ng-dirty:invalid {
          border-color: $form-color-invalid;
        }
     }

     label {
       user-select: none;
       cursor: text;
       font-size: 1rem;
       height: $form-control-height;
       margin-left: 0;
       color: $form-control-color;
       transform: translateY(-75%);
       transition: all .1s linear;
       z-index: 0;
     }

    input[type="checkbox"] {
      & ~ label::before {
        border-radius: $form-control-border-radius;
      }
    }

    input[type="radio"] {
      & ~ label::before {
        border-radius: 50%;
      }
    }

    input[type="checkbox"], input[type="radio"] {
      display: none;

      & ~ label {
        display: flex;
        align-items: center;
        cursor: default;
        height: initial;
        transform: translateY(0);

        &::before {
          content: ' ';
          display: inline-block;
          margin-right: $margin/2;
          border: 2px solid $form-control-color;
          box-sizing: border-box;
          width: 1rem;
          height: 1rem;
        }
      }

      &:checked ~ label {
        color: darken($form-control-color, 20%);
        &::before {
          background: darken($form-control-color, 20%);
        }
      }
    }

     textarea {
         height: initial;
         resize: vertical;

         & ~ label {
            position: absolute;
            top: $form-control-height;
         }
     }
  }

  &-title {
    flex: 1 0 auto;
    margin-top: 0;
    padding: #{$padding*2}  #{$padding};
    background: $form-title-background;
  }


  &-actions {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    padding: $padding;
  }
}
