/*
================================================================================
Form component styles
==============================================================================
*/
.form {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: $margin -#{$margin};
    
  &-inline {
    @extend .form;
    flex-wrap: nowrap;
  }

  &-control {
    display: flex;
    flex-direction: column;
    border-radius: $form-control-border-radius;
    height: $form-control-height;
    margin: $margin;
    
 
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    select {
        border-width: 0 0 1px 0;
        border-color: $form-control-border-color;
        background-color: transparent;
        height: $form-control-height;
        min-height: $form-control-height;
        z-index: 1;
        
        &:required:valid, &:focus {
            outline: none;
            border-color: darken($form-control-border-color, 20%);
            & ~ label {
                font-size: 0.8em;
                transform: translateY(-250%);
                transition: all .1s linear;
            }
        }
        
        & ~ label {
         cursor: text;
         font-size: 1em;
         height: $form-control-height;
         color: $form-control-color;
         transform: translateY(-100%);
         transition: all .1s linear;
         z-index: 0;
        }
     }
  }
}
