/*
================================================================================
List component styles
==============================================================================
*/

.list {
  $class-name: &;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style-type: none;
  overflow: hidden;
  border-radius: $form-control-border-radius;
  padding: 0;
  border: 1px solid $list-border-color;

  &-item {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 calc(100% - #{$padding});
    padding: $padding;
    min-height: $list-height;
    align-items: center;
    background-color: $list-background-color;
    transition: all .25s ease;

    &:hover {
      transition: all .25s ease;
      background-color: lighten($list-background-color, 5%);
    }

    & + & {
      border-top: 1px solid $list-border-color;
    }

    &-detail {
      margin: $margin $margin $margin auto;
      & > * {
        margin: auto $margin;
      }
    }

    &-block {
      display: none;
    }

    &.selected {
      background-color: lighten($list-background-color, 10%);
    }

    &.expanded &-block {
      display: flex;
      flex: 1 0 100%;
    }
  }
}
