/*
================================================================================
Toast messages
==============================================================================
*/
.message {
  position: fixed;
  bottom: 2em;
  margin: 1em;
  padding: 1em;
  width: calc(100% - 2em);

  &-info {

  }

  &-sucsess {

  }

  &-warning {

  }

  &-error {

  }
}
