//==============================================================================
//Mixins
//==============================================================================

@mixin disabled-status {
  &[disabled] {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }
}
