/*
================================================================================
Modal component styles
==============================================================================
*/
.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 10px $shadow-color, -2px -3px 20px lighten($shadow-color, 20%);
  background: $container-background-color;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @media(min-width: $medium-device) {
    border-radius: $form-control-border-radius;
    width: 75%;
    height: auto;
  }

  @media(min-width: $large-device) {
    width: 50%;
    height: auto;
  }


  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(155, 155, 175, .75);
    z-index: 3;
  }

  &-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: $padding;
    color: lighten($default-color, 50%);
    background: darken($default-color, 5%);
    border-bottom: 1px solid darken($container-background-color, 25%);
  }

  &-close {
    cursor: pointer;
    margin-left: auto;
    border: none;
    color: $dark-foreground;
    background: none;
    transition: all .25s ease;
    font-size: 1.5em;

    &:focus, &:active, &:hover {
      outline: none;
      color: $primary-color;
      transform: scale(1.25);
      transition: all .25s ease;
    }
  }

  &-body {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding: $padding;
  }

  &-footer {
      display: flex;
      align-items: center;
      align-self: flex-end;
      justify-content: flex-end;
      width: 100%;
      padding: $padding;
      background: darken($container-background-color, 5%);
  }
}
