/*
================================================================================
Navbar component styles
==============================================================================
*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: $nav-bar-height;
  background: linear-gradient(90deg, lighten($nav-background-color-1, 10%) 0, $nav-background-color-2 20%);
  border-bottom: 1px solid $nav-border-color;

  &-brand {
    flex: 0 0 auto;
    margin: auto $margin;
  }

  &-collapse {
    display: flex;
    flex: 1 1 100%;
  }

  &-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;

    .nav-item {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      
      a {
        color: darken($nav-item-color, 20%);
        text-decoration: none;

        &:hover {
          color: $nav-item-color;
        }
      }
      
      &.active a {
          color: $nav-item-color-active;
      }

      &:not(:first-child) {
        margin-left: $margin * 2;
      }
    }
  }

  &-search {
    display: flex;
    padding: $padding;
    input {
      width: 15em;
      padding: $padding;
      border: $form-control-border;
      border-radius: $form-control-border-radius 0 0 $form-control-border-radius;
      transition: width .2s ease;

      &:focus {
        width: 30em;
        transition: width .2s ease;
      }
    }

    button {
      width: 40px;
      border: none;
      border-radius: 0 $form-control-border-radius $form-control-border-radius 0;
    }
  }
}
