/*
================================================================================
Navbar component styles
==============================================================================
*/
.navbar {
    //local vars
    $class-name: &;

    //properties
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: $nav-bar-height;
    background: $nav-background;
    border-bottom: 1px solid $nav-border-color;
    z-index: 2;

    &-brand {
        flex: 0 0 auto;
        margin: auto $margin;
    }

    &-nav {
        display: none;
        list-style-type: none;
        padding: 0;
        flex: 1 0 auto;
        align-items: flex-end;

        &.active {
          position: absolute;
          top: $nav-bar-height;
          left: 0;
          right: 0;
          margin: 0;
          padding: $padding;
          display: flex;
          flex-direction: column;
          background: $nav-background-color-2;
        }

        .nav-item {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            padding: $padding;

            a {
                color: darken($nav-item-color, 20%);
                text-decoration: none;

                & > * {
                    margin-right: $margin/2;
                }

                &:hover {
                    color: $nav-item-color;
                }
            }

            &.active a {
                color: $nav-item-color-active;
            }

            &:not(:first-child) {
                margin-left: $margin * 2;
            }
        }
    }

    &-search {
        display: none;
        height: $nav-search-height;
        border: $form-control-border;
        border-radius: $form-control-border-radius;
        overflow: hidden;
        margin-left: auto;
        margin-right: $margin;

        input {
            width: 12em;
            padding: $padding;
            transition: width .2s ease;
            border: none;

            &:focus {
                width: 18em;
                transition: width .2s ease;
            }
        }

        button {
            width: $nav-search-height;
            height: $nav-search-height;
            border: none;
            border-radius: 0;
        }
    }

    &-login {
      color: $dark-foreground;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: $padding/2;

      &:hover {
        color: $nav-item-color-active;
      }

      &-user {
        display: none;

      }
    }

    &-menu {
        -webkit-appearance: none;
        color: $dark-foreground;
        background: none;
        border: none;
        margin: 1em;
        font-size: 1.25em;
        cursor: pointer;

        &:active, &:focus {
            outline: none;
        }
    }

    //container for nav
    &-wrapper {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
    }

    @media(min-width: $small-device) {
      &-login {
        margin: 0 #{$margin*2};

        &-user {
          display: inline;
          white-space: nowrap;
          margin-left: $margin/2;
        }
      }
    }

    @media (min-width: $large-device) {
        &-nav {
            display: flex;
        }

        &-menu {
            display: none;
        }

        &-search {
          display: inline-flex;
        }

        &-login {

        }
    }
}
