
/*
================================================================================
Table component styles
================================================================================
*/

.table {
    width: 100%;
    border-collapse: collapse;

    & + & {
      margin-top: $margin;
    }

    thead {
        display: none;
    }

    thead, tfoot {
        background-color: darken($list-background-color, 5%);
    }

    tbody {
      th {
        background-color: darken($list-background-color, 5%);
      }
    }

    tr {
        border-top: 1px solid $list-border-color;
        display: flex;
        flex-direction: column;
        width: 100%;

        td:nth-last-child(1) {
            background: lighten($list-background-color, 25%);
        }
    }

    th, td {
        padding: $padding;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
        border-top: 1px solid lighten($list-border-color, 15%);

        &::before {
            content: attr(title);
            display: inline-block;
            margin-right: auto;
            font-weight: bold;
        }
    }

    &-action {
      font-size: 1.5em;
    }

    @media(min-width: $medium-device) {
        thead {
            display: table-header-group;
        }

        tbody {
          tr {
            background-color: darken($light-background, 5%);
            transition: background-color .2s ease-out;
            &:hover {
              transition: background-color .2s ease-in;
              background-color: lighten($light-background, 100%);
            }
          }
        }

        tr {
            display: table-row;
            td:nth-last-child(1) {
                background: inherit;
            }
        }

        th, td {
            display: table-cell;
            vertical-align: baseline;

            &::before {
                display: none;
            }

            @for $g from 1 through $grid-divisor {
              &.g-#{$g} {
                width: $g/$grid-divisor * 100%;
              }
            }
          }

        &-action {
          width: 5rem;
          font-size: 1em;
        }
    }

    // .table .form
    &.editable {
      border: 1px solid $list-border-color;
      margin: auto;
      
      // tr all groups
      tr {
        border-top: 1px solid $list-border-color;
        border-bottom: 1px solid $list-border-color;
      }

      td, th {

        &:not(:first-child) {
          border-left: 1px solid $list-border-color;
        }
  
        &:not(:last-child) {
          border-right: 1px solid $list-border-color;
        }
      }

      // .table.editable tbody
      tbody {

        
        td {
          padding: 0;


          .form-control {
            margin: 0;

            input[type="text"],
            input[type="number"],
            input[type="password"],
            input[type="date"],
            input[type="month"],
            textarea,
            select {
              border-width: 0;
              background-color: #{$col-control-background};

              &:focus {
                background-color: #{lighten($col-control-background, 100%)};
              }
            }
          }
        }
      }
    }
}
