
/*
================================================================================
Table component styles
================================================================================
*/

.table {
    width: 100%;
    border-collapse: collapse;

    thead {
        display: none;
        background-color:  transparentize($list-background-color, .5);
    }

    tfoot {
        background-color: transparentize($list-background-color, .75);
    }

    tr {
        border-top: 1px solid $list-border-color;
        display: flex;
        flex-direction: column;
        width: 100%;

        td:nth-last-child(1) {
            background: lighten($list-background-color, 25%);
        }
    }

    th, td {
        padding: $padding;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
        border-top: 1px solid lighten($list-border-color, 15%);

        &::before {
            content: attr(title);
            display: inline-block;
            margin-right: auto;
            font-weight: bold;
        }
    }

    &-action {
      font-size: 1.5em;
    }

    @media(min-width: $medium-device) {
        thead {
            display: table-header-group;
        }

        tr {
            display: table-row;
            td:nth-last-child(1) {
                background: inherit;
            }
        }

        th, td {
            display: table-cell;

            &::before {
                display: none;
            }
        }

        &-action {
          font-size: 1em;
        }
    }
}
