//=========================================================================
//Breakpoints
//=========================================================================
$small-device: 425px;
$medium-device: 768px;
$large-device: 1200px;
$xlarge-device: 1280px;

//=========================================================================
//Generic component variables
//=========================================================================
$margin: 10px;
$padding: 10px;
$circle-size: 2rem;
$border-radius: 3px;
$disabled-opacity: 0.5;
//=========================================================================
//Element colors
//=========================================================================
$body-background: #f5f5fa;
$link-color: #777777;
$shadow-color: #55555588;
$border-color: #9c9c9c;
$border-dark-color: #3b3b3b;
//=========================================================================
//Pallete
//=========================================================================
$light-foreground: #333333;
$dark-foreground: #efefef;
$light-background: #fefefe;
$dark-background: #333333;
$default-color: #4d506b;
$primary-color: #ff005d;
$secondary-color: #8a7ca5;

//=========================================================================
//Text Colors
//=========================================================================
$text-info-color: #006eff;
$text-success-color: #1c9e22;
$text-warning-color: #ffae00;
$text-error-color: #cc0000;
//=========================================================================
//Message Colors
//=========================================================================
$message-info-color: #ccccff;
$message-success-color: #b8ffbb;
$message-warning-color: #ffd54f;
$message-error-color: #ff9999;

//=========================================================================
//Grid component variables
//=========================================================================
$grid-divisor: 12;
//=========================================================================
//Navbar component variables
//=========================================================================
$nav-background-color-1: $primary-color;
$nav-background-color-2: $default-color;
$nav-background: linear-gradient(90deg, lighten($nav-background-color-1, 10%) 0, $nav-background-color-2 20%);
$nav-border-color: darken($nav-background-color-2, 5%);
$nav-bar-height: 60px;
$nav-search-height: 40px;
$nav-item-color: #eeeeee;
$nav-item-color-active: #ffff55;

//=========================================================================
//Form component variables
//=========================================================================
$form-control-border-color: $border-color;
$form-control-border: 1px solid $form-control-border-color;
$form-control-border-radius: 4px;
$form-control-height: 28px;
$form-control-padding: 10px;
$form-control-color: #888;
$form-control-background: #cccccc24;
$form-title-background: #edeef5;
$form-color-invalid: #ee3333;
//=========================================================================
//Button component variables
//=========================================================================
$btn-color-primary: #fff;
$btn-background-primary: #1a31a9;
$btn-color: #eee;
$btn-background: $secondary-color;

//=========================================================================
//List component variables
//=========================================================================
$list-background-color: darken($light-background, 5%);
$list-border-color: $form-control-border-color;
$list-height: 50px;

//=========================================================================
//Table component variables
//=========================================================================
$col-control-background: #f5f5f5;
$row-control-background: #fff8b6;

//=========================================================================
//Message component variables
//=========================================================================

//=========================================================================
//Container component variables
//=========================================================================
$container-background-color: #fefefe;

//=========================================================================
//directions, margins, alignments variables
//=========================================================================
$text-alignment: (center, left, right, justify);
$directions: (top, right, bottom, left);
$horizontal-flex-alignment: ("left": start, "center": center, "right": end);
