
@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "list";
@import "table";
@import "form";
@import "button";
@import "modal";
@import "message";
/*
================================================================================
Tag styles
==============================================================================
*/

* {
    box-sizing: border-box;
}

html {
    font-family: Open-sans, sans-serif;
}

body {
    background-color: $body-background;
}

a {
    cursor: pointer;
}

/*
================================================================================
Grid component styles
==============================================================================
*/

@for $g from 1 through $grid-divisor {
    .g-#{$g} {
        $size: $g/$grid-divisor * 100%;
        width: calc(#{$size} - #{$margin*2});
    }
}

@media only screen and (min-width: $small-device) {
    @for $g from 1 through $grid-divisor {
        .g-m-#{$g} {
            $size: $g/$grid-divisor * 100%;
            width: calc(#{$size} - #{$margin*2});
        }
    }
}

@media only screen and (min-width: $medium-device) {
    @for $g from 1 through $grid-divisor {
        .g-l-#{$g} {
            $size: $g/$grid-divisor * 100%;
            width: calc(#{$size} - #{$margin*2});
        }
    }
}

/*
================================================================================
Generic component styles
==============================================================================
*/
.hidden {
    display: none;
}

.title {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    font-size: 1.5em;
    margin: -#{$margin} -#{$margin} -2px -#{$margin};
    padding: $padding;
    width: 100%;
    font-weight: normal;

    &-detail, &-action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $margin/2 $margin/2 $margin/2 auto;
    }

    &-action {
        position: fixed;
        bottom: $margin;
        right: $margin;
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.5em;
        background-color: $light-background;
        transition: all .2s ease-in-out;

        & > * {
            &::before {
                text-shadow: 3px 3px 10px $shadow-color;
            }
        }

        &:hover {
          transform: scale(1.2);
          transition: all .2s ease-in-out;
          &::before {
            text-shadow: 12px 6px 20px $shadow-color;
          }
        }
    }

    @media(min-width: $medium-device) {
      position: initial;
      background: initial;
      margin: 0 -#{$margin};
      border-bottom: 0;

      &-action {
        position: initial;
      }
    }
}

.link {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
        color: darken($link-color, 15%);
        transition: all .2s ease-in-out;
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    background: lighten($list-background-color, 5%);
    border: 1px solid $list-border-color;
    font-size: 0.8em;
}

//.<alignment> { text-align: <alignment>; }
@each $alignment in (center, left, right, justify) {
    .#{$alignment} {
        text-align: $alignment;
    }
}

//.margin-<direction>-[1-10]
@each $side in (top, right, bottom, left) {
    @for $m from 1 through 10 {
        .margin-#{$side}-#{$m} {
            margin-#{$side}: $m * $margin;
        }
    }
}

/*
================================================================================
Container component styles
==============================================================================
*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
    max-width: 1200px;
    min-height: calc(100vh - #{$nav-bar-height + $margin * 2});
    border: 1px solid lighten($border-color, 25%);
    background: $container-background-color;
    padding: $padding;

    &::after {
      content: ' ';
      display: block;
      width: 100%;
      height: calc(#{$circle-size} + #{$margin});
    }

    @media(min-width: $medium-device) {
        margin: $margin auto;

        &::after {
          display: none;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0 $margin;
    padding: $padding;
    border-radius: $form-control-border-radius;
    border: 1px solid $list-background-color;
}
