
@import "reset";
@import "variables";
@import "nav";
@import "list";
@import "table";
@import "form";
@import "button";
@import "modal";
@import "message";
/*
================================================================================
Tag styles
==============================================================================
*/

* {
    box-sizing: border-box;
}

html {
    font-family: Open-sans, sans-serif;
}

body {
    background-color: $body-background;
}

a {
    cursor: pointer;
}

/*
================================================================================
Grid component styles
==============================================================================
*/

@for $g from 1 through $grid-divisor {
    .g-#{$g} {
        $size: $g/$grid-divisor * 100%;
        width: calc(#{$size} - #{$margin*2});
    }
}

@media only screen and (min-width: $small-device) {
    @for $g from 1 through $grid-divisor {
        .g-m-#{$g} {
            $size: $g/$grid-divisor * 100%;
            width: calc(#{$size} - #{$margin*2});
        }
    }
}

@media only screen and (min-width: $medium-device) {
    @for $g from 1 through $grid-divisor {
        .g-l-#{$g} {
            $size: $g/$grid-divisor * 100%;
            width: calc(#{$size} - #{$margin*2});
        }
    }
}

/*
================================================================================
Generic component styles
==============================================================================
*/
.hidden {
    display: none;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: $margin/2;
    width: 100%;
    font-weight: normal;

    &-detail {
        margin: $margin/2 $margin/2 $margin/2 auto;
        cursor: pointer;
        font-size: 1.5em;
        background: none;

        & > * {
            background: inherit;
            transition: all .25s ease-in-out;

            &::before {
                text-shadow: 3px 3px 10px $shadow-color;
            }

            &:hover {
                transform: scale(1.2);
                transition: all .25s ease-in-out;
                &::before {
                    text-shadow: 12px 6px 20px $shadow-color;
                }

            }
        }
    }
}

.link {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: lighten($link-color, 20%);
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    background: lighten($list-background-color, 5%);
    border: 1px solid $list-border-color;
    font-size: 0.8em;
}

@each $alignment in (center, left, right, justify) {
    .#{$alignment} {
        text-align: $alignment;
    }
}

@each $side in (top, right, bottom, left) {
    @for $m from 1 through 10 {
        .margin-#{$side}-#{$m} {
            margin-#{$side}: $m * $margin;
        }
    }
}

/*
================================================================================
Container component styles
==============================================================================
*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
    max-width: 1200px;
    min-height: calc(100vh - #{$nav-bar-height + $margin * 2});
    border: 1px solid lighten($border-color, 25%);
    background: $container-background-color;
    padding: $padding;

    @media(min-width: $medium-device) {
        margin: $margin auto;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 0 $margin;
    padding: $padding;
    border-radius: $form-control-border-radius;
    border: 1px solid $list-background-color;
}
