<div class="container">
    <h4 class="title">
      <span>Operações</span>
      <form #formFilter="ngForm" class="title-detail" (change)="filter()">
        <div class="form-control inline">
          <button class="btn btn-flat" type="reset" (click)="resetFilter()">
            <i class="fa fa-times-circle"></i>
            <span class="hidden-m">Limpar filtros</span>
          </button>
        </div>
        <div class="form-control inline">
          <i class="fa fa-calendar-o"></i>
          <option-button name="dataOperacao" label="mês/ano" [options]="optionsDataOperacao" [(value)]="dataOperacaoFilter"></option-button>
        </div>
        <div class="form-control inline" *ngFor="let option of optionsTipoOperacao">
          <input name="tipoOperacao" type="radio" [id]="option.value" [value]="option" [(ngModel)]="tipoOperacaoFilter">
          <label [for]="option.value">{{option.description}}</label>
        </div>
        <div class="form-control inline">
          <input name="tipoOperacao" type="radio" id="todosFiltrosTipoOperacao" [value]="null" [(ngModel)]="tipoOperacaoFilter">
          <label for="todosFiltrosTipoOperacao">Todas</label>
        </div>
      </form>
      <a class="title-action" title="adicionar operação" (click)="add()"><i class="fa fa-plus-circle"></i></a>
    </h4>
    <p class="note" *ngIf="operacoes.length == 0"><i class="fa fa-info-circle"></i><span class="margin-left-1">Você ainda não cadastrou nenhum item.</span></p>
    <ng-container *ngIf="operacoes.length > 0">
      
      <!-- tabela totais -->
      <table class="table">
        <thead>
          <tr>
            <th colspan="4" class="right">Resumo das Operações</th>
          </tr>
          <tr>
            <th class="right">Custos operacionais</th>
            <th class="right">Total compra</th>
            <th class="right">Total venda</th>
            <th class="right">Total custódia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td title="Custos operacionais" class="right"><b>{{getCustosOperacionais() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total compra" class="right"><b>{{getTotalCompra() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total venda" class="right"><b>{{getTotalVenda() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total custódia" class="right"><b>{{getTotalCustodia() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>

        </tbody>
      </table>
      <hr>

      <!-- tabela mensal -->
      <table class="table" *ngFor="let entry of list() | keyvalue" >
        <thead>
          <tr>
            <th class="left" colspan="7">Mês: {{entry.value.title}}</th>
          </tr>
          <tr>
            <th class="left">Código</th>
            <th class="left">Tipo</th>
            <th class="right">Quantidade</th>
            <th class="center">Data da operação</th>
            <th class="right">Preço</th>
            <th class="right">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="right" colspan="7"><b>Total compra: {{entry.value.totalCompra | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
          <tr>
            <td class="right" colspan="7"><b>Total venda: {{entry.value.totalVenda | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let operacao of entry.value.items">
            <td title="Código" class="left">{{operacao.papel.codigo}}</td>
            <td title="Tipo" class="left">{{operacao.tipoOperacao}}</td>
            <td title="Quantidade" class="right">{{operacao.quantidade}}</td>
            <td title="Data operação" class="center">{{operacao.dataOperacao | date: 'dd/MM/yyyy'}}</td>
            <td title="Preço" class="right">{{operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td title="Total" class="right">
              <b>{{operacao.quantidade * operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</b>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
</div>
<nota-corretagem *ngIf="selectedNotaCorretagem" [(notaCorretagem)]="selectedNotaCorretagem"></nota-corretagem>