<form #operacaoForm="ngForm" (ngSubmit)="save()" class="modal-wrapper" *ngIf="false">
    <div class="modal">
        <header class="modal-title">
            <h4>{{selectedOperacao.id == null ? 'Nova Operação': selectedOperacao.papel.codigo + ': ' + selectedOperacao.tipoOperacao}}
            </h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <div class="form-control g-6 g-l-4">
                    <input id="dataOperacao" name="dataOperacao" type="date" [(ngModel)]="selectedOperacao.dataOperacao"
                        autofocus="autofocus" required>
                    <label for="dataOperacao">Data</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <select id="papel" name="papel" [compareWith]="comparator" [(ngModel)]="selectedOperacao.papel"
                        required>
                        <option *ngFor="let papel of papeis" [ngValue]="papel">{{papel.codigo}}</option>
                    </select>
                    <label for="papel">Código</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <select id="tipo" name="tipo" [(ngModel)]="selectedOperacao.tipoOperacao" required>
                        <option *ngFor="let option of optionsTipoOperacao" [value]="option.value">{{option.description}}
                        </option>
                    </select>
                    <label for="tipo">Operação</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="valor" name="valor" [(ngModel)]="selectedOperacao.valor" type="number" min="0.01"
                        step="0.01" required>
                    <label for="valor">Valor</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="custo" name="custoOperacao" [(ngModel)]="selectedOperacao.custoOperacao" type="number"
                        min="0" step="0.01" required>
                    <label for="custo">Custo Operação</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="quantidade" name="quantidade" [(ngModel)]="selectedOperacao.quantidade" type="number"
                        min="1" step="1" required>
                    <label for="quantidade">Quantidade</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit" [disabled]="!operacaoForm.valid" class="btn btn-primary">salvar</button>
        </footer>
    </div>
</form>