<div class="container">
    <h4 class="title">
      <span class="title-text-block" *ngIf="exibeNotaCorretagemOperacaoFilter == 0">Operações</span>
      <span class="title-text-block" *ngIf="exibeNotaCorretagemOperacaoFilter == 1">Notas de corretagem</span>
      <form #formFilter="ngForm" class="title-detail-block" (change)="filter()">
        
        <div class="form-group">
          <div class="form-control inline">
            <input name="exibeNotaCorretagemOperacao" type="radio" id="exibeOperacao" [value]="0" [(ngModel)]="exibeNotaCorretagemOperacaoFilter">
            <label for="exibeOperacao">Operações</label>
          </div>

          <div class="form-control inline">
            <input name="exibeNotaCorretagemOperacao" type="radio" id="exibeNotaCorretagem" [value]="1" [(ngModel)]="exibeNotaCorretagemOperacaoFilter">
            <label for="exibeNotaCorretagem">Notas</label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-control inline">
            <i class="fa fa-calendar-o"></i>
            <option-button title="mês/ano" name="dataOperacao" label="mês/ano" [options]="optionsDataOperacao" [(value)]="dataOperacaoFilter"></option-button>
          </div>
  
          <div class="form-control inline">
            <i class="fa fa-exchange"></i>
            <option-button title="Operacao" name="tipoOperacao" label="Operação" [options]="optionsTipoOperacao" [(value)]="tipoOperacaoFilter"></option-button>
          </div>
  
          <div class="form-control inline">
            <button title="limpar filtros" class="btn btn-flat" type="button" (click)="resetFilter()">
              <i class="fa fa-times-circle"></i>&nbsp;<span class="hidden-m">Limpar filtros</span>
            </button>
          </div>
        </div>
      </form>
      <a class="title-action" title="adicionar operação" (click)="add()"><i class="fa fa-plus-circle"></i></a>
    </h4>

    <p class="note" *ngIf="operacoes.length == 0"><i class="fa fa-info-circle"></i><span class="margin-left-1">Você ainda não cadastrou nenhum item.</span></p>
    <ng-container *ngIf="operacoes.length > 0">
      <!-- tabela totais -->
      <table class="table">
        <thead>
          <tr>
            <th colspan="4" class="right">Resumo das Operações</th>
          </tr>
          <tr>
            <th class="right">Custos operacionais</th>
            <th class="right">Total compra</th>
            <th class="right">Total venda</th>
            <th class="right">Total custódia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td title="Custos operacionais" class="right"><b>{{getCustosOperacionais() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total compra" class="right"><b>{{getTotalCompra() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total venda" class="right"><b>{{getTotalVenda() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
            <td title="Total custódia" class="right"><b>{{getTotalCustodia() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>

        </tbody>
      </table>
      <!-- fim tabela totais -->
      <hr>      
    </ng-container>
    
    <ng-container *ngIf="operacoes.length > 0 && exibeNotaCorretagemOperacaoFilter == 0">
      <!-- tabela mensal operacoes -->
      <table class="table" *ngFor="let entry of listOperacoes() | keyvalue">
        <thead>
          <tr>
            <th class="left" colspan="7">Mês: {{entry.value.title}}</th>
          </tr>
          <tr>
            <th class="left">Nota de corretagem</th>
            <th class="left">Código</th>
            <th class="left">Tipo</th>
            <th class="right">Quantidade</th>
            <th class="center">Data da operação</th>
            <th class="right">Preço</th>
            <th class="right">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="right" colspan="7"><b>Total compra: {{entry.value.totalCompra | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
          <tr>
            <td class="right" colspan="7"><b>Total venda: {{entry.value.totalVenda | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let operacao of entry.value.items">
            <td title="Nota de corretqagem" class="left">{{operacao.notaCorretagem.numero}}</td>
            <td title="Código" class="left">{{operacao.papel.codigo}}</td>
            <td title="Tipo" class="left">{{operacao.tipoOperacao}}</td>
            <td title="Quantidade" class="right">{{operacao.quantidade}}</td>
            <td title="Data operação" class="center">{{operacao.dataOperacao | date: 'dd/MM/yyyy'}}</td>
            <td title="Preço" class="right">{{operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td title="Total" class="right">
              <b>{{operacao.quantidade * operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</b>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- fim tabela mensal operacoes -->
    </ng-container>

    <ng-container *ngIf="operacoes.length > 0 && exibeNotaCorretagemOperacaoFilter == 1">
      <!-- tabela notas de corretagem -->
      <table class="table">
        <thead>
          <tr>
            <th class="left">Número</th>
            <th class="left">Data do Pregão</th>
            <th class="right">Taxas</th>
            <th class="right">I.S.S.</th>
            <th class="right">I.R.R.F</th>
            <th class="right">Total Operações</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notaCorretagem of listNotasCorretagem()" [ngClass]="{'text-error': notaCorretagem.totalNota < 0}">
            <td title="Número">{{notaCorretagem.numero}}</td>
            <td title="Data do Pregão">{{notaCorretagem.dataPregao | date: 'dd/MM/yyyy'}}</td>
            <td title="Taxas" class="right">{{(notaCorretagem.totalTaxas) | currency:'BRL':'symbol':'1.2-2' }}</td>
            <td title="ISS" class="right">{{notaCorretagem.iss | currency:'BRL':'symbol':'1.2-2' }}</td>
            <td title="IRRF" class="right">{{notaCorretagem.irrf | currency:'BRL':'symbol':'1.2-2' }}</td>
            <td title="Total" class="right" >{{notaCorretagem.totalNota | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td class="table-action center">
              <a title="editar nota de corretagem" class="link" (click)="edit(notaCorretagem)"><i class="fa fa-pencil"></i></a>
              <a title="remover nota de corretagem" class="margin-left-3 link" (click)="delete(notaCorretagem)"><i class="fa fa-trash"></i></a>
            </td>

          </tr>
        </tbody>
      </table>
      <!-- fim tabela notas de corretagem -->
    </ng-container>
</div>
<nota-corretagem *ngIf="selectedNotaCorretagem" [(notaCorretagem)]="selectedNotaCorretagem"></nota-corretagem>