<div class="container">
    <h4 class="title">
      <span>Operações</span>
      <form #formFilter="ngForm" class="title-detail" (change)="filter()">
        <div class="form-control inline">
          <button class="btn btn-flat" type="reset" (click)="resetFilter()">
            <i class="fa fa-times-circle"></i>
            <span class="hidden-m">Limpar filtros</span>
          </button>
        </div>
        <div class="form-control inline">
          <div class="option-button">
            <label class="option-button-control" [class.active]="optionButtonActive" type="button">
              <i class="fa fa-calendar-o"></i>
              <span class="hidden-m">mês/ano</span>
              <input type="checkbox" name="optionButtonStatus" [(ngModel)]="optionButtonActive">
            </label>
            <ul class="option-button-list">
              <li class="option-button-item" *ngFor="let option of optionsDataOperacao">
                <input name="dataOperacao" type="radio" [id]="option.value" [value]="option.value" [(ngModel)]="dataOperacaoFilter">
                <label [for]="option.value">{{option.description}}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-control inline" *ngFor="let option of optionsTipoOperacao">
          <input name="tipoOperacao" type="radio" [id]="option.value" [value]="option.value" [(ngModel)]="tipoOperacaoFilter">
          <label [for]="option.value">{{option.description}}</label>
        </div>
        <div class="form-control inline">
          <input name="tipoOperacao" type="radio" id="todosFiltrosTipoOperacao" [value]="null" [(ngModel)]="tipoOperacaoFilter">
          <label for="todosFiltrosTipoOperacao">Todas</label>
        </div>
      </form>
      <a class="title-action" title="adicionar operação" (click)="add()"><i class="fa fa-plus-circle"></i></a>
    </h4>
    <p class="note" *ngIf="operacoes.length == 0"><i class="fa fa-info-circle"></i><span class="margin-left-1">Você ainda não cadastrou nenhum item.</span></p>
    <ng-container *ngIf="operacoes.length > 0">
      <table class="table" *ngFor="let entry of list() | keyvalue" >
        <thead>
          <tr>
            <th class="left" colspan="7">{{entry.value.title}}</th>
          </tr>
          <tr>
            <th class="left">Código</th>
            <th class="left">Tipo</th>
            <th class="right">Quantidade</th>
            <th class="center">Data da operação</th>
            <th class="right">Preço</th>
            <th class="right">Total</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="right" colspan="7"><b>Total compra: {{entry.value.totalCompra | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
          <tr>
            <td class="right" colspan="7"><b>Total venda: {{entry.value.totalVenda | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>
          <tr>
            <th class="right" colspan="7"><b>Total custos operacionais: {{getCustosOperacionais() | currency:'BRL':'symbol':'1.2-2'}}</b></th>
          </tr>
          <tr>
            <td class="right" colspan="7"><b>Total custódia: {{getTotalCustodia() | currency:'BRL':'symbol':'1.2-2'}}</b></td>
          </tr>

        </tfoot>
        <tbody>
          <tr *ngFor="let operacao of entry.value.items">
            <td title="Código" class="left">{{operacao.acao.codigo}}</td>
            <td title="Tipo" class="left">{{operacao.tipoOperacao}}</td>
            <td title="Quantidade" class="right">{{operacao.quantidade}}</td>
            <td title="Data operação" class="center">{{operacao.dataOperacao | date: 'dd/MM/yyyy'}}</td>
            <td title="Preço" class="right">{{operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td title="Total" class="right">
              <b>{{operacao.quantidade * operacao.valor | currency:'BRL':'symbol':'1.2-2'}}</b>
            </td>
            <td class="table-action right">
              <a title="editar operação" class="link" (click)="edit(operacao)"><i class="fa fa-pencil"></i></a>
              <a title="remover operação" class="margin-left-3 link" (click)="delete(operacao)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
</div>
<form #operacaoForm="ngForm" (ngSubmit)="save()" class="modal-wrapper" *ngIf="selectedOperacao">
    <div class="modal">
        <header class="modal-title">
            <h4>{{selectedOperacao.id == null ? 'Nova Operação': selectedOperacao.acao.codigo + ': ' + selectedOperacao.tipoOperacao}}</h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <div class="form-control g-6 g-l-4">
                    <input id="dataOperacao" name="dataOperacao" type="date" [(ngModel)]="selectedOperacao.dataOperacao" autofocus="autofocus" required>
                    <label for="dataOperacao">Data</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <select id="acao" name="acao" [compareWith]="comparator" [(ngModel)]="selectedOperacao.acao" required>
                      <option *ngFor="let acao of acoes" [ngValue]="acao">{{acao.codigo}}</option>
                    </select>
                    <label for="acao">Código</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <select id="tipo" name="tipo" [(ngModel)]="selectedOperacao.tipoOperacao" required>
                        <option *ngFor="let option of optionsTipoOperacao" [value]="option.value">{{option.description}}</option>
                    </select>
                    <label for="tipo">Operação</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="valor" name="valor" [(ngModel)]="selectedOperacao.valor" type="number" min="0.01" step="0.01" required>
                    <label for="valor">Valor</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="custo" name="custoOperacao" [(ngModel)]="selectedOperacao.custoOperacao" type="number" min="0" step="0.01" required>
                    <label for="custo">Custo Operação</label>
                </div>
                <div class="form-control g-6 g-l-4">
                    <input id="quantidade" name="quantidade" [(ngModel)]="selectedOperacao.quantidade" type="number" min="1" step="1" required>
                    <label for="quantidade">Quantidade</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit"  [disabled]="!operacaoForm.valid" class="btn btn-primary">salvar</button>
        </footer>
    </div>
</form>
