<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <a class="navbar-brand" href="#"><img src="assets/img/b3wallet.svg" alt=""></a>

  <div class="navbar-wrapper">
    <ul class="navbar-nav" [class.active]="showMenuMobile">
      <li class="nav-item" *ngFor="let item of menuItems" (click)="selectMenu(item)" routerLinkActive="active">
        <a routerLink="/{{item.route}}"><i class="{{item.icon}}"></i>{{item.title}}</a>
      </li>
    </ul>
    <form class="navbar-search">
      <input type="text" placeholder="Código ou nome" aria-label="busca">
      <button><i class="fa fa-search"></i></button>
    </form>
  </div>
 <button type="button" class="navbar-menu" (click)="toggleMenuMobile()">
   <i *ngIf="!showMenuMobile" class="fa fa-bars"></i>
   <i *ngIf="showMenuMobile" class="fa fa-close"></i>
 </button>
</nav>
<router-outlet></router-outlet>

<div class="message success hidden">
    <header class="message-header">
        <h4 class="message-title">título da mensagem</h4>
        <button type="button" class="message-close"><i class="fa fa-close"></i></button>
    </header>
    <section class="message-body">
        <p classs="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
</div>
