<div class="container">
  <h3 class="title">Dashboard</h3>
  <ul class="list-group">
    <li class="list-group-item" [class.selected]="acao === selectedAcao" (click)="onSelect(acao)" *ngFor="let acao of acoes">
      <small class="circle" title="ativos em custódia">1000</small>
      <span title="{{acao.nome}}">{{acao.codigo}}</span>
      <span class="detail">
        <a class="link fa fa-pencil" [routerLink]="['/acao/edit', acao.id]" title="editar papel"></a>
        <!-- <a class="link fa fa-folder-open" *ngIf="selectedAcao === acao" (click)="toggle()" title="abrir portfolio"></a> -->
      </span>
    </li>
  </ul>
</div>

<!-- <div *ngIf="isOperaocesOpened && selectedAcao" class="modal-wrapper">
  <div class="modal">
    <header class="modal-title">
      <h4>Portfolio</h4>
      <button class="modal-close" (click)="toggle()"><i class="fa fa-close"></i></button>
    </header>
    <tipo-operacao-component class="modal-body" [acao]="selectedAcao"></tipo-operacao-component>
  </div>
</div> -->
