<div class="container">
    <h4 class="title">
      <span>Ações</span>
      <form #filterForm="ngForm" class="title-detail">
        <div class="form-control">
          <input type="checkbox" name="filterCustodia" id="filterCustodia" [(ngModel)]="custodiaFilter" (click)="filter()">
          <label for="filterCustodia">Custódia</label>
        </div>
      </form>
      <a class="title-action" title="adicionar ação" (click)="add()"><i class="fa fa-plus-circle"></i></a>
    </h4>
    <p class="note" *ngIf="acoes.length == 0"><i class="fa fa-info-circle"></i><span class="margin-left-1">Você ainda não cadastrou nenhum item.</span></p>
    <table class="table" *ngIf="acoes.length > 0">
        <thead>
            <tr>
                <th class="left">Código</th>
                <th class="left">Empresa</th>
                <th class="right">Custódia</th>
                <th class="right">Preço médio</th>
                <th class="right">Lucro</th>
                <th class="right"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acao of list(); let idx = index">
                <td title="Código">{{acao.codigo}}</td>
                <td title="Empresa">{{acao.empresa.nome}}</td>
                <td class="right" title="Custódia">{{acao.totalCustodia}}</td>
                <td class="right" title="Preço médio">{{acao.precoMedio | currency:'BRL':'symbol':'1.2-2'}}</td>
                <td class="right" title="Lucro">{{acao.totalLucro | currency:'BRL':'symbol':'1.2-2'}}</td>
                <td class="table-action right"><a title="editar ação" class="link" (click)="edit(acao)"><i class="fa fa-pencil"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<form #acaoForm="ngForm" *ngIf="selectedAcao" (ngSubmit)="save()" class="modal-wrapper">
    <div class="modal">
        <header class="modal-title">
            <h4>{{selectedAcao.id == null ? 'Nova Ação': selectedAcao.codigo}}</h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <!-- inserir select para empresa aqui -->
                <div class="form-control g-12 g-l-2">
                    <input type="text" id="codigoAcao" name="codigo" [(ngModel)]="selectedAcao.codigo" autofocus="autofocus" required>
                    <label for="codigoAcao">Código</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit" [disabled]="!acaoForm.valid" class="btn btn-primary">salvar</button>
        </footer>
    </div>
</form>
