<div class="container">
    <h4 class="title">
      <span>Anotações</span>
      <a class="title-action" title="adicionar nota" (click)="add()"><i class="fa fa-plus-circle"></i></a>
    </h4>
    <p class="note" *ngIf="notas.length == 0"><i class="fa fa-info-circle"></i><span class="margin-left-1">Você ainda não cadastrou nenhum item.</span></p>
    <ul class="list" *ngIf="notas.length > 0">
      <li *ngFor="let entry of list() | keyvalue; let idxEntry = index" class="list-item" [ngClass]="{'selected expanded': isExpanded(idxEntry)}">
        <header class="title link" (click)="expandListItem(idxEntry)">
          <i *ngIf="!isExpanded(idxEntry)" class="fa fa-folder margin-right-2"></i>
          <i *ngIf="isExpanded(idxEntry)" class="fa fa-folder-open margin-right-2"></i>
          <span>{{entry.key}}</span><span class="title-detail circle">{{entry.value.length}}</span>
        </header>
        <div class="list-item-block">
          <table class="table">
            <thead>
              <tr>
                <th class="left g-6">Anotação</th>
                <th class="center">Criado em</th>
                <th class="center">Atualizado em</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nota of entry.value; let idxNota = index">
                <td title="Anotação">{{nota.anotacao}}</td>
                <td title="Criado em" class="center">{{nota.dataCriacao | date: 'dd/MM/yyyy'}}</td>
                <td title="Atualizado em" class="center">{{nota.dataAtualizacao | date: 'dd/MM/yyyy'}}</td>
                <td class="table-action right">
                  <a title="editar nota" class="link" (click)="edit(nota)"><i class="fa fa-pencil"></i></a>
                  <a title="remover nota" class="margin-left-3 link" (click)="delete(nota)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
</div>
<form #notaForm="ngForm" *ngIf="selectedNota" (ngSubmit)="save()" class="modal-wrapper">
    <div class="modal">
        <header class="modal-title">
            <h4>{{(selectedNota.id == null ? 'Nova Nota': selectedNota.acao.codigo + ' - ' + (selectedNota.dataAtualizacao | date: 'dd/MM/yyyy'))}}</h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <div class="form-control g-12">
                    <select id="acao" name="acao" [compareWith]="comparator" [(ngModel)]="selectedNota.acao" required>
                        <option *ngFor="let acao of acoes" [ngValue]="acao">{{acao.codigo}}</option>
                    </select>
                    <label for="acao">Ação</label>
                </div>
                <div class="form-control g-12">
                    <textarea id="nota" name="nota" [(ngModel)]="selectedNota.anotacao" rows="10" required></textarea>
                    <label for="nota">Nota</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!notaForm.valid">salvar</button>
        </footer>
    </div>
</form>
