<div class="container">
    <h4 class="title">Ações <a class="detail" (click)="addAcao()"><i class="fa fa-plus-circle"></i></a></h4>
    <ul class="list-group g-12">
        <li *ngFor="let acao of acoes; let i = index" class="list-group-item">
            <span class="circle" title="Ações em custódia">{{acao.getCustodia()}}</span>
            <b>{{acao.nome}}</b> <a (click)="editAcao(acao, i)" class="detail link"><i class="fa fa-pencil"></i></a> 
        </li>
    </ul>
    <div *ngIf="selectedAcao" class="modal-wrapper">
        <div class="modal">
            <header class="modal-title">
                <h4 class="title">{{selectedAcao.nome || (index === null ? 'Nova Ação': 'Editando Ação')}}</h4>
                <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
            </header>
            <section class="modal-body">
                <div class="form">
                    <div class="form-control g-12 g-m-6 g-l-3">
                        <input type="text" id="codigoAcao" [(ngModel)]="selectedAcao.codigo" required>
                        <label for="codigoAcao">Código</label>
                    </div>
                    <div class="form-control g-12 g-m-6 g-l-9">
                        <input id="nomeAcao" type="text" [(ngModel)]="selectedAcao.nome" required>
                        <label for="nomeAcao">Nome</label>
                    </div>
                </div>
            </section>
            <footer class="modal-footer">
                <button class="btn btn-primary" (click)="saveAcao()">salvar</button>
            </footer>
        </div>

    </div>
</div>

