<form #notaCorretagemForm="ngForm" (ngSubmit)="save()" class="modal-wrapper">
  <div class="modal">
    <header class="modal-title">
      <h4>
        Nota de corretagem
      </h4>
      <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
    </header>
    <section class="modal-body">
      <div class="form">
        <div class="form-control g-12 g-m-6 g-l-3">
          <input id="numeroNotaCorretagem" name="numeroNotaCorretagem" type="text" mask="0*" autofocus="autofocus" required>
          <label for="dataOperacao">Número</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-3">
          <input id="dataPregao" name="dataPregao" type="date" required>
          <label for="dataOperacao">Data do pregão</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="taxaLiquidacao" name="taxaLiquidacao" type="number" min="0" step="0.01" required>
          <label for="taxaLiquidacao">Taxa de liquidação</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="taxaRegistro" name="taxaRegistro" type="number" min="0" step="0.01" required>
          <label for="taxaRegistro">Taxa de registro</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="taxaTermo" name="taxaTermo" type="number" min="0" step="0.01" required>
          <label for="taxaTermo">Taxa termo</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="taxaANA" name="taxaANA" type="number" min="0" step="0.01" required>
          <label for="taxaANA">Taxa A.N.A.</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="emolumentos" name="emolumentos" type="number" min="0" step="0.01" required>
          <label for="emolumentos">Emolumentos</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="corretagem" name="corretagem" type="number" min="0" step="0.01" required>
          <label for="corretagem">Corretagem</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="iss" name="iss" type="number" min="0" step="0.01" required>
          <label for="iss">I.S.S.</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="irrf" name="irrf" type="number" min="0" step="0.01" required>
          <label for="irrf">I.R.R.F.</label>
        </div>
        <div class="form-control g-12 g-m-6 g-l-2">
          <input id="outrasDespesas" name="outrasDespesas" type="number" min="0" step="0.01" required>
          <label for="outrasDespesas">Outras despesas</label>
        </div>
        
        <fieldset>
          
          <legend><span>Operações</span><button class="btn btn-flat"><i class="fa fa-plus-circle"></i></button></legend>

          <table class="table editable">
            <thead>
              <tr>
                <th class="left">Código</th>
                <th class="left">Operação</th>
                <th class="left">Valor</th>
                <th class="left">Quantidade</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="right" colspan="5">Total de custos: R$ 0.00</th>
              </tr>
              <tr>
                <th class="right" colspan="5">Total da nota: R$ 0.00</th>
              </tr>
              <tr>
                <th class="right" colspan="5">Total líquido: R$ 0.00</th>
              </tr>
            </tfoot>
            <tbody>
              <!-- on init add 1 item -->
              <tr *ngFor="let operacao of operacoes">
                <td>
                  <div class="form-control">
                    <select id="papel">
                      <option value="1">teste 1</option>
                      <option value="2">teste 2</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-control">
                    <select id="tipo" name="tipo" required>
                        <option *ngFor="let option of optionsTipoOperacao" [value]="option.value">{{option.description}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-control">
                    <input id="valor" name="valor" [(ngModel)]="operacao.valor" type="number" min="0.01" step="0.01" required>
                  </div>
                </td>
                <td>
                  <div class="form-control">
                    <input id="quantidade" name="quantidade" [(ngModel)]="operacao.quantidade" type="number" min="1" step="1" required>
                  </div>
                </td>
                <td class="center">
                  <button type="button" class="btn btn-flat"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </section>
    <footer class="modal-footer">
      <button type="submit" [disabled]="!notaCorretagemForm.valid" class="btn btn-primary">salvar</button>
    </footer>
  </div>
</form>

