<div class="container">
	<h4 class="title">
		<span>Dividendos</span>
		<a class="title-action" title="adicionar dividendo" (click)="add()"><i class="fa fa-plus-circle"></i></a></h4>
	<ul class="list">
		<li *ngFor="let entry of list() | keyvalue; let idxEntry = index" class="list-item" [ngClass]="{'selected expanded': isExpanded(idxEntry)}">
			<header class="title link" (click)="expandListItem(idxEntry)">
				<i *ngIf="!isExpanded(idxEntry)" class="fa fa-folder margin-right-2"></i>
				<i *ngIf="isExpanded(idxEntry)" class="fa fa-folder-open margin-right-2"></i>
				<span>{{entry.key}}</span><span class="title-detail">{{entry.value.total | currency:'BRL':'symbol':'1.2-2'}}</span>
			</header>
			<div class="list-item-block">
				<table class="table">
					<thead>
						<tr>
							<th class="left">Código</th>
							<th class="center">Data ex</th>
							<th class="center">Pagamento em</th>
							<th class="right">Valor</th>
							<th></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th colspan="5" class="right">Dividendos recebidos no mês: {{entry.value.items.length}}</th>
						</tr>
					</tfoot>
					<tbody>
						<tr *ngFor="let dividendo of entry.value.items; let idxDividendo = index">
							<td title="Código" class="left">{{dividendo.acao.codigo}}</td>
							<td title="Data ex" class="center">{{dividendo.dataEx | date: 'dd/MM/yyyy'}}</td>
							<td title="Pagamento em" class="center">{{dividendo.dataPagamento | date: 'dd/MM/yyyy'}}</td>
							<td title="Valor" class="right">{{dividendo.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
							<td class="table-action right">
								<a title="editar dividendo" class="link" (click)="edit(dividendo)"><i class="fa fa-pencil"></i></a>
								<a title="remover dividendo" class="margin-left-3 link" (click)="delete(dividendo)"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
		</li>
	</ul>

</div>
<form #dividendoForm="ngForm" *ngIf="selectedDividendo" (ngSubmit)="save()" class="modal-wrapper">
    <div class="modal">
        <header class="modal-title">
            <h4>{{(selectedDividendo.id == null ? 'Nova Análise': selectedDividendo.acao.codigo + ' - ' + (selectedDividendo.dataAtualizacao | date: 'dd/MM/yyyy'))}}</h4>
            <button (click)="close()" class="modal-close"><i class="fa fa-close"></i></button>
        </header>
        <section class="modal-body">
            <div class="form">
                <div class="form-control g-6 g-l-3">
                    <select id="acao" name="acao" [compareWith]="comparator" [(ngModel)]="selectedDividendo.acao" autofocus="autofocus" required>
                        <option *ngFor="let acao of acoes" [ngValue]="acao">{{acao.codigo}}</option>
                    </select>
                    <label for="acao">Ação</label>
                </div>
				<div class="form-control g-6 g-l-3">
                    <input id="valor" name="valor" [(ngModel)]="selectedDividendo.valor" type="number" min="0.01" step="0.01" required>
                    <label for="valor">Valor</label>
                </div>
				<div class="form-control g-6 g-l-3">
                    <input id="dataEx" name="dataEx" [(ngModel)]="selectedDividendo.dataEx" type="date" required>
                    <label for="dataEx">Data ex</label>
                </div>
				<div class="form-control g-6 g-l-3">
                    <input id="dataPagamento" name="dataEx" [(ngModel)]="selectedDividendo.dataPagamento" type="date" required>
                    <label for="dataPagamento">Pagamento em</label>
                </div>
            </div>
        </section>
        <footer class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!dividendoForm.valid">salvar</button>
        </footer>
    </div>
</form>
